openapi: 3.0.3
info:
  title: Modular JWT Authenticated API
  version: 1.0.0
  description: An example API using JWT imported from a separate file.

servers:
  - url: http://localhost:8080/api/v1

# Áp dụng scheme 'JWTAuth' cho toàn bộ API.
security:
  - BearerAuth: []

paths:
  # $ref: "./paths/jwt-auth.yaml#/paths"
  /auth/login:
    $ref: "./paths/jwt-auth/login.yaml"
  /auth/register:
    $ref: "./paths/jwt-auth/register.yaml"
  /auth/logout:
    $ref: "./paths/jwt-auth/logout.yaml"
  /auth/check:
    $ref: "./paths/jwt-auth/check.yaml"
  # User Management
  /user/me:
    $ref: "./paths/user/me.yaml"
  /user/update:
    $ref: "./paths/user/update.yaml"
  /user/delete:
    $ref: "./paths/user/delete.yaml"

  # Note Management
  /notes:
    $ref: "./paths/note/create.yaml"
  /notes/list:
    $ref: "./paths/note/list.yaml"
  /notes/{id}:
    $ref: "./paths/note/get.yaml"
  /notes/{id}/update:
    $ref: "./paths/note/update.yaml"
  /notes/{id}/delete:
    $ref: "./paths/note/delete.yaml"

  # Folder Management
  /folders/create:
    $ref: "./paths/folder/create.yaml"
  /folders/list:
    $ref: "./paths/folder/list.yaml"
  /folders/{id}:
    $ref: "./paths/folder/get.yaml"
  /folders/{id}/update:
    $ref: "./paths/folder/update.yaml"
  /folders/{id}/delete:
    $ref: "./paths/folder/delete.yaml"
  /folders/{id}/add-note:
    $ref: "./paths/folder/add-note.yaml"

# Phần components giờ đây chỉ chứa các tham chiếu
components:
  securitySchemes:
    # Key 'BearerAuth' sẽ có giá trị được load từ file bên ngoài
    BearerAuth:
      $ref: "./components/securitySchemes/JWTAuth.yaml"

  schemas:
    $ref: "./components/schemas/_index.yaml"

  # (Bonus) Import các response tái sử dụng
  responses:
    $ref: "./components/responses/_index.yaml"

  parameters:
    $ref: "./components/parameters/_index.yaml"
